<nav class="red">
    <div class="nav-wrapper" id="navbar">
        <a href="home.handlebars" class="brand-logo" id="logo">HJ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="aboutus.handlebars">About Us</a></li>
            <li><a href="contact.handlebars">Contact</a></li>
        </ul>
    </div>
</nav>