<nav class="red">
    <div class="nav-wrapper" id="navbar">
        <a class="brand-logo" id="logo" type="button" onclick="home()">HJ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="aboutUs" type="button" onclick="aboutUs()">About Us</a></li>
            <li><a id="contact" type="button" onclick="contactUs()">Contact</a></li>
        </ul>
    </div>
</nav>

<script>
    function contactUs() {
        window.location.replace("/contactus");
    }
    function aboutUs() {
        window.location.replace("/aboutus");
    }

    function home() {
        window.location.replace("/");
    }
</script>