{{> navbar}}

<div class="container" id="background">
    <div class="row">
        <div class="col s12" id="hollyJolly">
            <p>The Holly Jolly Generator</p>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <p></p>
        </div>
        <div class="col s6" id="aboutUsInfo">
            <p>
                Ah, it is officially Christmas time. This is a time for exchanging
                presents, endless cups of hot chocolate and getting merry on lots of
                wine. However, Christmas is also, of course, the season of goodwill.
                The Holly Jolly Giver is a wonderful opportunity this holiday season
                for you and your friends or family to give back. You have the
                opportunity to enter our database as either a Giver or Reciever. A
                receiver has the opportunity to add themselves ,or their family,
                into our participants database. A giver will be shown a chart of
                every receiver that is currently in need. There they will be able to
                complete or choose a person or family in need which then would
                hide/remove that specific receiver from the browser.
            </p>
        </div>
        <div class="col s3">
            <p></p>
        </div>
    </div>
</div>