{{> navbar}}

<div class="container" id="background">
    <div class="row">
        <div class="col s12" id="contactUs">
            <p>Contact Us</p>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <div class="card" id="leftCard">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="contactNameCard">Chris Kim</span>
                    <p id="contactJobCard">Software Engineer</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test4">Github</a></li>
                        <li class="tab">
                            <a class="active" href="#test5">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <a href="https://github.com/chriskim0926" id="test4">Click here for Github link:</a>
                    <a href="https://www.linkedin.com/feed/" id="test5">Click here for Linkedin link:</a>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card" id="rightCard">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="contactNameCard">Edwin Munoz</span>
                    <p id="contactJobCard">Software Engineer</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test6">Github</a></li>
                        <li class="tab">
                            <a class="active" href="#test7">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <a href="https://github.com/Edwinmunoz" id="test6">Click here for Github link:</a>
                    <a href="https://www.linkedin.com/in/edwin-munoz-3a0979201/" id="test7">Click here for Linkedin
                        link:</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <div class="card" id="leftCard">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="contactNameCard">Jennifer
                        Funchess</span>
                    <p id="contactJobCard">Software Engineer</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test8">Github</a></li>
                        <li class="tab">
                            <a class="active" href="#test9">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <a href="https://github.com/JenniferFunchess" id="test8">Click here for Github link:</a>
                    <a href="https://www.linkedin.com/in/jennifer-funchess/" id="test9">Click here for Linkedin
                        link:</a>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="card" id="rightCard">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="contactNameCard">Joesph
                        Strickland</span>
                    <p id="contactJobCard">Software Engineer</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test10">Github</a></li>
                        <li class="tab">
                            <a class="active" href="#test11">LinkedIn</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <a href="https://github.com/jks2090" id="test10">Click here for Github link:</a>
                    <a href="https://www.linkedin.com/in/joseph-keith-strickland-92323617a/" id="test11">Click here for
                        Linkedin link:</a>
                </div>
            </div>
        </div>
    </div>
</div>