/* main handlebar css */
html {
  overflow-y: scroll;
  overflow: auto;
}

html {
  overflow: auto;
}

body {
  background-image: url("/assets/js/images/christmas1.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* navbar handlebar css */

#logo {
  font-family: "Elsie Swash Caps", cursive;
  margin-left: 15px;
}

#aboutUs,
#contact {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

/* homepage handlebar css */

#Giver {
  text-align: center;
}

#Receiver {
  text-align: center;
}

#giverHomeButton,
#receiverHomeButton {
  margin-left: 5%;
}

/* receiver handlebar css */

#background {
  background-image: url("./images/christmas1.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#recieverPage {
  margin-top: 5%;
}

#recieverInput {
  padding-top: 5%;
}

#receiverDataForm {
  text-align: center;
  font-family: "Playfair Display", serif;
  margin-left: auto;
}

#receiverData {
  margin-bottom: 15%;
}

#receiverForm {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: -10%;
}

#receiverGiver {
  margin-left: 25%;
  margin-right: 25%;
}

#receiverButton {
  margin-left: 30%;
  margin-right: 30%;
}

#receiverUpdateButton,
#receiverDeleteButton {
  color: red;
}

#inputReceiver {
  margin-left: 20%;
  margin-right: 20%;
}

#receiverListTitle {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 60px;
  text-align: center;
  padding-bottom: 5%;
}

/* giver handlebar css */

#listNames {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 15px;
}

#inputBackground {
  margin-left: 25%;
}

#giverSubmitButton {
  margin-left: 25%;
  margin-right: 25%;
}

/* about Us handlebar info */

#aboutUsInfo {
  margin-top: -5%;
  background: white;
  opacity: 0.7;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: black;
}

/* Conact Us handlebar info */

#contactUsInfo {
  margin-left: 11%;
  text-align: center;
}

#hollyJolly,
#contactUs,
#receiverListTitle,
#giverListTitle {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
  text-align: center;
}

#contactUs {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}

#contactName {
  background-color: green;
}

#contactNameCard {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  margin-left: 35%;
  text-align: center;
}

#contactJobCard {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

#rightCard {
  margin-right: 5%;
  margin-bottom: 10%;
}

#leftCard {
  margin-left: 5%;
  margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
