/* main handlebar css */

body {
  background-image: url("/assets/js/images/christmas1.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/* navbar handlebar css */

#logo {
  font-family: "Elsie Swash Caps", cursive;
  margin-left: 15px;
}

#aboutUs,
#contact {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

/* homepage handlebar css */

#Giver {
  text-align: center;
}

#Receiver {
  text-align: center;
}

#giverHomeButton,
#receiverHomeButton {
  margin-left: 5%;
}

/* receiver handlebar css */

#background {
  background-image: url("./images/christmas1.jpg");
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#recieverInput {
  padding-top: 5%;
}

#receiverDataForm {
  text-align: center;
  font-family: "Playfair Display", serif;
}

#receiverForm {
  padding-left: 25%;
  text-align: center;
}

#receiverGiver {
  margin-left: 25%;
  margin-right: 25%;
}

#receiverSubmitButton {
  margin-left: 40%;
  margin-right: 40%;
}

#receiverUpdateButton,
#receiverDeleteButton {
  color: red;
}

/* giver handlebar css */

#listNames {
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
}

#inputBackground {
  margin-left: 25%;
}

#giverSubmitButton {
  margin-left: 25%;
  margin-right: 25%;
}

/* about Us handlebar info */

#aboutUsInfo {
  margin-top: -5%;
  background: white;
  opacity: 0.7;
  font-family: "Playfair Display", serif;
  font-size: 15px;
  color: black;
}

/* Conact Us handlebar info */

#contactUsInfo {
  margin-left: 11%;
  text-align: center;
}

#hollyJolly,
#contactUs {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}
